{% load static %}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>   

{% block content%}

<div class="jumbotron jumbotron-fluid" style="background-image: url({% static 'qr-code.jpg' %}); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 100vh;">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="card border-dark border-2">
            <div class="card-header bg-dark text-white text-center">
                <img src="{% static 'ATS_logo.webp' %}" class="logo align-text-center pb-1">
                <span class="align-text-center">AssembleQR <i class="bi bi-qr-code"></i></span>
            </div>
            <div class="card-body">
                  <div class="text-center text-danger"> <!-- Center the form -->
                          Poszukiwana przez Ciebie strona nie istnieje. (404)
                  </div>
                  <div class="text-center text-danger"> <!-- Center the form -->
                    This page doesn't exist (404)
                  </div>
                        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock content %}