{% load static %}

{% comment %} LOGUT MODAL {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Chcesz się wylogować?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
          <a class="btn btn-outline-danger" href="{% url 'logout' %}">Wyloguj</a></li>
        </div>
      </div>
    </div>
  </div>

  {% comment %} NAVBAR {% endcomment %}

<nav class="navbar clientNavbar">
    <div class="container-fluid">
            <div class="col">
                <img src="{% static 'ATS_logo.webp' %}" class="logo align-text-center pb-1">
                <span class="navbar-brand logoTextColor mb-0 h1 fw-bold">
                    <a class="no-style" href="{% url 'home' %}">ASSEMBLE <span class="text-black">QR</span></a>
                </span>
            </div>
            <div class="col-10">
                {% if user.is_authenticated %}
                <a href="{% url 'add_order' %}" class="btn btn-secondary "><i class="bi bi-plus-circle" title="Utwórz Zlecenie"></i></a>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'marketing:marketing-list' %}" class="btn btn-secondary"><i class="bi bi-badge-ad-fill" title="Marketing"></i></a>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'notifications:notifications' %}"  class="btn btn-secondary"><i class="bi bi-bell" title="Powiadomienia"></i></a>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'adminpage' %}" class="btn btn-secondary"><i class="bi bi-person-square" title="Panel Admin"></i></a>
                {% endif %}

                {% if user.is_authenticated %}
                <!-- Button trigger LOGOUT modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Wyloguj
                </button>
                {% endif %}
            </div>
    </div>
  </nav>