{% load static %}

<nav class="navbar clientNavbar">
    <div class="container-fluid">
            <div class="col">
                <img src="{% static 'ATS_logo.webp' %}" class="logo align-text-center pb-1">
                <span class="navbar-brand logoTextColor mb-0 h1 fw-bold">
                    <a class="no-style" href="{% url 'home' %}">ASSEMBLE <span class="text-black">QR</span></a>
                </span>
            </div>
            <div class="col-10">
                <a href="{% url 'add_order' %}" class="btn btn-secondary "><i class="bi bi-plus-circle"></i></a>
                <a href="#" class="btn btn-secondary"><i class="bi bi-person-square"></i></a>
                <a href="{% url 'marketing:marketing-list' %}" class="btn btn-secondary"><i class="bi bi-badge-ad-fill"></i></a>
                <a href="{% url 'notifications:notifications' %}"  class="btn btn-secondary"><i class="bi bi-bell"></i></a>
            </div>
    </div>
  </nav>