{% extends 'base.html' %}

{% block content %}

  {% comment %} TABLE {% endcomment %}

  <div class="container py-4">

    {% if user.is_authenticated and user.is_superuser %}
      <h4 class="py-3">Panel Admina:</h4>
      <a href="{% url 'register' %}" class="btn btn-success py-2 mb-3">Dodaj Użytkowników</a>
        
      <div id="user-list">
      {% include 'users/partials/user-list.html' %}
        </div>
    {% else %}
      <p>You must be logged in as an admin to access this page.</p>
    {% endif %}

  </div>

{% endblock %}