{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container py-4">
    <h4 class="py-3">Nowy baner:</h4>
    <div class="d-flex row p-3">
        <div class="col-12 p-1"> 
            <form  method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-success" value="Save">
                <a href="{% url 'marketing:marketing-list' %}" class="btn btn-secondary text-white"> Wróć</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}