<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="bg-secondary bg-gradient text-white ">
          <tr>
            <th scope="col" class="text-center">Użytkownik</th>
            <th scope="col" class="text-center hide_in_mobile">Email</th>
            <th scope="col" class="text-center hide_in_mobile">Admin</th>
            <th scope="col" class="text-center">Usuń</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          {% if not user.is_staff %}
            <tr>
              <td class="text-center">{{ user.username }}</td>
              <td class="text-center hide_in_mobile">{{ user.email }}</td>
              <td class="text-center hide_in_mobile">
                {% if user.is_superuser %}
                  <i class="bi bi-check-lg text-success"></i>
                {% else %}
                  <i class="bi bi-x-circle text-danger"></i>
                {% endif %}
              </td>
              
              <td class="text-center">
                  {% comment %} delete {% endcomment %}
                <form method="POST" action="{% url 'adminpage' %}">
                  {% csrf_token %}
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                  <a href="{% url 'update' user_id=user.id %}" class="btn btn-success py-2">Aktualizuj</a>
                  <span
                  hx-delete="{% url 'delete' user.pk %}"
                  hx-target="#user-list"
                  _="on htmx:confirm(issueRequest)
                              halt the event
                              call Swal.fire({icon:'question' , text:'Czy na pewno chcesz usunąć?'})
                              if result.isConfirmed issueRequest()"> <i class="bi bi-trash btn btn-danger"></i></span>
                  
                </form>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>