{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header>
  </header>
  

  <div class="container my-5">
    <h3> Tabela zleceń </h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="bg-secondary bg-gradient text-white ">
          <tr>
            <th scope="col" class="text-center">WZP</th>
            <th scope="col" class="text-center hide_in_mobile">Produkt</th>
            <th scope="col" class="text-center hide_in_mobile">Firma</th>
            <th scope="col" class="text-center hide_in_mobile">Ilość</th>
            <th scope="col" class="text-center">Manager</th>
            <th scope="col" class="text-center hide_in_mobile">Instrukcja</th>
            <th scope="col" class="text-center hide_in_mobile">Video</th>
            <th scope="col">Funkcje</th>
          </tr>
        </thead>
        
        <tbody class="bg-light bg-gradient">
          {% for order in object_list %}
                <tr>
                    <td class="text-center">{{ order.orderTag }}</td>
                    <td class="text-center hide_in_mobile">{{ order.orderName }}</td>
                    <td class="text-center hide_in_mobile">{{ order.orderCompany }}</td>
                    <td class="text-center hide_in_mobile">{{ order.orderQuantity }}</td>
                    <td class="text-center">{{ order.orderManager }}</td> 
                    <td class="text-center hide_in_mobile">
                      {% if order.orderManual %}<i class="bi bi-check-circle" style="color:#00b300;"></i>{% else %}<i class="bi bi-x-circle" style="color:#b30000;"></i>{% endif %}
                    </td>
                    <td class="text-center hide_in_mobile">
                      {% if order.orderVideo %}<i class="bi bi-check-circle" style="color:#00b300;"></i>{% else %}<i class="bi bi-x-circle" style="color:#b30000;"></i>{% endif %}
                    </td>
                    
                    <td>
                      <a href="{% url 'order_detail' order_uuid=order.url %}" class="btn btn-secondary"><i class="bi bi-qr-code"></i></i></a>
                      <a href="{% url 'qr_code_view' order_uuid=order.url %}" class="btn btn-warning"><i class="bi bi-phone"></i></a>
                      <a href="{% url 'order_delete' pk=order.pk %}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
          {% endfor %}

        </tbody>
      </table>
      {% if total_water_waste %}
      <p><i class="fa-fw bi bi-lightbulb" style="color:orange;"></i> 
        Czy wiesz, że do produkcji każdej strony A4 zużywa się około 5L wody ? 
        Dzięki cyfrowym instrukcjom udało się zaoszczędzić już: <b>{{total_water_waste }} L <b><i class="bi bi-droplet-half" style="color:blue;"></i> </p>
      {% endif %} 
    </div>
  </div>
    

{% endblock %}
