{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header>
  </header>
  <div class="container my-5">
    
    <div class="row">
    {% for order in orders %}
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ order.orderTag }}</h5>
            <p class="card-text">{{ order.orderCompany }}</p>
            <p class="card-text">{{ order.orderName }}</p>
            <a href="{% url 'order_detail' order_uuid=order.url %}" class="btn btn-secondary">Details</a>
            {% comment %} The above reverses the URL for the view order_detail and passes in the order_uuid variable to it. {% endcomment %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
