{% for order in object_list %}

<tr>
  <td class="text-center">{{ order.orderTag }}</td>
  <td class="text-center hide_in_mobile">{{ order.orderName }}</td>
  <td class="text-center hide_in_mobile">{{ order.orderCompany }}</td>
  <td class="text-center hide_in_mobile">{{ order.orderQuantity }}</td>
  <td class="text-center">{{ order.orderManager }}</td>
  <td class="text-center hide_in_mobile">
    {% if order.orderManual %}<i class="bi bi-check-circle" style="color: #00b300"></i>
    {% else %}<i class="bi bi-x-circle" style="color: #b30000"></i>{% endif %}
  </td>
  <td class="text-center hide_in_mobile">
    {% if order.orderVideo %}<i class="bi bi-check-circle" style="color: #00b300"></i>
    {% else %}<i class="bi bi-x-circle" style="color: #b30000"></i>{% endif %}
  </td>

  <td>
    <a href="{% url 'order_detail' order_uuid=order.url %}" class="btn btn-secondary"><i class="bi bi-qr-code" title="Szczegóły Zlecenia"></i></a>
    <a href="{% url 'qr_code_view' order_uuid=order.url %}" class="btn btn-warning"> <i class="bi bi-phone" title="Widok Klienta"></i></a>
    <a href="{% url 'update_order' order_uuid=order.url %}" class="btn btn-info"><i class="bi bi-sign-turn-slight-right-fill" title="Aktualizuj"></i></a>
    {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'order_delete' pk=order.pk %}" class="btn btn-danger"><i class="bi bi-trash3" title="Usuń Zlecenie"></i></a>
    {% endif %}
  </td>
  <td>
    <i class="bi bi-box-arrow-in-down"></i> {{ order.count_total_file_downloads }}
  </td>
</tr>
{% endfor %}
