{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col text-center py-3">
      <h2 class="p-1"><u>Szczegóły zamówienia:</u></h2>
      <h4 class="pb-3"><b>{{ order.orderTag }} {{order.orderName }}</b></h4>
      <img src="{% url 'generate_qr' order.id %}" class="qr img-fluid" alt="QR code">
  </div>

  <div class="container my-2">
    <div class="row text-center">
        <h6>Numer WZP :  <span class="text-secondary fs-4">{{ order.orderTag }}<span></h6>
        <h6>Klient :  <span class="text-secondary fs-4">{{ order.orderCompany }}<span></h6>
        <h6>Produkt :  <span class="text-secondary fs-4">{{ order.orderName }}<span></h6>
        <h6>Ilość  :  <span class="text-secondary fs-4">{{ order.orderQuantity }}  szt<span></h6>
        <h6>Manager  :  <span class="text-secondary fs-4">{{ order.orderManager }}<span></h6>
        <p>Data utworzenia  :  <span class="text-secondary fs-8">{{ order.orderDate }}<span></p>
        <div class="d-flex flex-row justify-content-center">
          {% if order.file %}
          <a href="{{ order.file.url }}" download="{{ order.file.name }}" class="no-style">
            <img src="{% static 'Manual_logo.png' %}" class="manualLogo align-text-center px-3">
            <p><b>Instrukcja #1</b></p>
            
          </a>{% endif %}
          {% if order.file2 %}
          <a href="{{ order.file2.url }}" download="{{ order.file2.name }}" class="no-style">
            <img src="{% static 'Manual_logo.png' %}" class="manualLogo align-text-center px-3">
            <p><b>Instrukcja #2</b></p>
          </a>{% endif %}
        </div>
        <hr>
        {% if order.file %}
          <p class="card-text">Instrukcja #1 |
            <small>{{order.file.name|cut:'media/'}}</small> |  Ilość stron : {{ pages1|default:0 }} =
             <i class="bi bi-droplet-half" style="color:blue;"></i> {{water1|default:0}} L wody</p>
        {% endif %}
        {% if order.file2 %}
          <p class="card-text">Instrukcja #2 | 
            <small>{{order.file2.name|cut:'media/'}}</small> |  Ilość stron : {{ pages2|default:0 }} = 
              <i class="bi bi-droplet-half" style="color:blue;"></i> {{water2|default:0}} L wody</p>
        {% endif %}    
    </div>
  </div>
  
  <div class="d-flex flex-row justify-content-center py-3">
    <a href="{% url 'home' %}" class="btn btn-secondary">Wróć do zamówień</a>
  </div>
{% endblock %}