{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ order.orderTag }}</h5>
            <p class="card-text">{{ order.orderCompany }}</p>
            <p class="card-text">{{ order.orderName }}</p>
            <p class="card-text">{{ order.orderQuantity }}</p>
            <p class="card-text">{{ order.orderDate }}</p>
            <p class="card-text">{{ order.orderManager }}</p>
            <p class="card-text">{{ order.orderManual }}</p>
            <p class="card-text">{{ order.orderVideo }}</p>
            <p class="card-text">{{ order.orderStatus }}</p>
            <img src="{% url 'generate_qr' order.id %}" class="img-fluid" alt="QR code">
            {% if order.file %}
              <a href="{{ order.file.url }}" download="{{ order.file.name }}" class="btn btn-secondary">Pobierz instrukcję</a>
            {% endif %}
            <p class="card-text">Ilość stron PDfa : {{ pages}}. Dzięki aplikacji oszczędziłeś {{water}} Litrów wody</p>


            <a href="{% url 'home' %}" class="btn btn-secondary">Wróć do zamówień</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}