{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <title>AssembleQR</title>
</head>
<body>
    <nav class="navbar clientNavbar">
        <div class="flex ms-3">
            <img src="{% static 'ATS_logo.webp' %}" class="logo align-text-center pb-1">
            <span class="navbar-brand logoTextColor mb-0 h1 fw-bold">ASSEMBLE <span class="text-black">QR</span></span>
        </div>
      </nav>
    
    <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center py-3">
            ASSEMBLY INSTRUCTION
          </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center fw-bold">
              <h2>Permanent Display</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center p-3">
                <img src="{% static 'Manual_logo.png' %}" class="manualLogo align-text-center">
            </div>
            <div class="d-flex justify-content-center" >
                <button type="button" class="btn btn-dark" disabled>ENG</button>
   
            <div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ order.orderTag }}</h5>
          <p class="card-text">{{ order.orderCompany }}</p>
          <p class="card-text">{{ order.orderName }}</p>
          <a href="{{ order.file.url }}" download="{{ order.file.name }}" class="btn btn-secondary">Download File</a>
        </div>
      </div>

</body>
</html>