{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    {% comment %} Typeitjs {% endcomment %}
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>

    <title>AssembleQR</title>
</head>
<body>
    <nav class="navbar clientNavbar">
        <div class="flex ms-3">
            <img src="{% static 'ATS_logo.webp' %}" class="logo align-text-center pb-1">
            <span class="navbar-brand logoTextColor mb-0 h1 fw-bold">ASSEMBLE <span class="text-black">QR</span></span>
        </div>
    </nav>
    
    <div class="container">
        <div class="row text-center py-3">
          <div class="col">
            <h6><small>ASSEMBLY INSTRUCTION</small></h6>
            <h3 class="pb-3"><b>{{ order.orderName }}</b></h3>
            {% if order.file %}
              <div class="p-2">
                <a href="{{ order.file.url }}" download="{{ order.file.name }}" class="no-style">
                  <img src="{% static 'Manual_logo.png' %}" class="manualLogo align-text-center px-3">
                </a>
                {% if order.fileLanguage %}
                  <p class="p-1"><button type="button" class="btn btn-dark" disabled>{{order.fileLanguage}}</button></p>
                {% endif %}
              </div>
            {% endif %}
            
            {% if order.file2 %}
              <div class="p-2">
                <a href="{{ order.file2.url }}" download="{{ order.file2.name }}" class="no-style">
                  <img src="{% static 'Manual_logo.png' %}" class="manualLogo align-text-center px-3">
                </a>
                {% if order.file2Language %}
                  <p class="p-1"><button type="button" class="btn btn-dark" disabled>{{order.file2Language}}</button></p>
                {% endif %}
              </div>
            {% endif %}
            
            {% if not order.file and not order.file2 and not order.video %}
              <p class="multipleStrings"></p>
              <script type="text/javascript" src="{% static 'textPrinterClient.js' %}"></script>
            {% endif %}
          </div>
        </div>
      <div class="row justify-content-center">
        {% if order.video %}
          <div class="col-md-5 align-self-center">  
            <div class="circle">
              {{ order.video|safe }}  
            </div>
          </div> 
        {% endif %}  
      </div>  
    </div> 
<footer>
 Test
</footer>

</body>

</html>
