{% extends 'base.html' %}
{% block content %}
<div class="container text-center py-4">

<img src="{% url 'generate_qr' order.id %}" class="qr img-fluid" id="qr_code" alt="QR code">
<div class="mt-2">{{ orderCompany }} : {{ orderName }}</div>
    <button class= "btn btn-success mt-3" id="download_pdf_3_8">Zapisz PDF (3x8)</button>
    <button class= "btn btn-success mt-3" id="download_pdf_2_4">Zapisz PDF (2x4)</button>
    <button class= "btn btn-success mt-3" id="download_qr" onclick="downloadImage()">Zapisz PNG (1)</button>
    <button class= "btn btn-secondary mt-3" onclick="location.href='{% url 'order_detail' order.url %}'">Wróć</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

<script>
    //decodes txt html issues
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
    {% comment %} The arrayBufferToBase64 function takes a buffer of binary data and returns a Base64-encoded string. {% endcomment %}
    function arrayBufferToBase64(buffer) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return btoa(binary);
    }

    const downloadPDF_3_8 =  document.getElementById("download_pdf_3_8")
    downloadPDF_3_8.addEventListener("click", function () {
        
        var orderName = "{{ orderName }}";
        var orderTag = "{{ orderTag }}";
        var orderCompany = "{{ orderCompany }}";
        var doc = new jsPDF('p', 'pt', 'a4');
        doc.setFontSize(6);

        // Retrieve the image data using fetch
        const url = "{% url 'generate_qr' order.id %}"; // Replace with the actual image URL
        let imgData;

        fetch(url)
          .then(response => response.arrayBuffer())
          .then(buffer => {
            imgData = 'data:image/png;base64,' + arrayBufferToBase64(buffer);
            console.log('Image loaded');

            var qrImages = document.querySelectorAll(".qr");
            var qrImageCount = qrImages.length;
            var x = 15, y = 15;
            for (var i = 0; i < qrImageCount * 24; i++) {
                if (i % 3 == 0 && i != 0) {
                    y += 103;
                    x = 15;
                }
                doc.addImage(imgData, 'PNG', x, y, 170, 70);
                x += 194;
                
                doc.text(x - 185, y + 80, htmlDecode(orderCompany) + " | " + htmlDecode(orderName));
            }
            console.log('PDF created');
            doc.save("QR CODE (3x8)-"+orderCompany+"|"+orderName+".pdf");
            console.log('PDF saved');
          });
    });

    const downloadPDF_2_4 =  document.getElementById("download_pdf_2_4")
    downloadPDF_2_4.addEventListener("click", function () {
        
        var orderName = "{{ orderName }}";
        var orderTag = "{{ orderTag }}";
        var orderCompany = "{{ orderCompany }}";
        var doc = new jsPDF('p', 'pt', 'a4');
        doc.setFontSize(8);

        // Retrieve the image data using fetch
        const url = "{% url 'generate_qr' order.id %}"; // Replace with the actual image URL
        let imgData;

        fetch(url)
          .then(response => response.arrayBuffer())
          .then(buffer => {
            imgData = 'data:image/png;base64,' + arrayBufferToBase64(buffer);
            console.log('Image loaded');

            var qrImages = document.querySelectorAll(".qr");
            var qrImageCount = qrImages.length;
            var x = 30, y = 60;
            for (var i = 0; i < qrImageCount * 8; i++) {
                if (i % 2 == 0 && i != 0) {
                    y += 190;
                    x = 30;
                }
                doc.addImage(imgData, 'PNG', x, y, 250, 103);
                x += 276;
                
                doc.text(x - 265, y + 120, htmlDecode(orderCompany) + " | " + htmlDecode(orderName));
            }
            console.log('PDF created');
            doc.save("QR CODE (2x4)-"+orderCompany+"|"+orderName+".pdf");
            console.log('PDF saved');
          });
    });



</script>
<script>

    function downloadImage() {
        // Get the URL of the image from the img element
        var imgElement = document.getElementById('qr_code');
        var imageUrl = imgElement.src;
        var orderName = "{{ orderName }}";
        var orderCompany = "{{ orderCompany }}";

        // Create a new anchor element
        var downloadLink = document.createElement('a');
    
        // Set the href attribute to the URL of the image
        downloadLink.href = imageUrl;
    
        // Set the download attribute to the file name of the image
        downloadLink.download = "QR CODE -"+" "+orderCompany+"-"+orderName+".png"
    
        // Simulate a click on the anchor element to download the image
        downloadLink.click();
    }
   
</script>

{% endblock %}
