{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="container py-4">
    <h4 class="py-3">Aktualizuj Zlecenie:</h4>
    <ul>
      <li class="text-sm">Instrukcja musi mieć format PDF</li>
      <li class="text-sm">Instrukcja nie może być większa niż 2 MB</li>
      <li class="text-sm">Nie możesz dodać języka, jeśli nie dodajesz instrukcji</li>
    </ul>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group-A">
      <div class="pb-2">
       <b> {{ form.orderTag.label_tag }} </b> 
        {% render_field form.orderTag class="form-control" %}
      </div>
      <div class="pb-2">
       <b> {{ form.orderCompany.label_tag }} </b>
        {% render_field form.orderCompany class="form-control" %}
      </div>
      <div class="pb-2">
       <b> {{ form.orderName.label_tag }} </b>
        {% render_field form.orderName class="form-control" %}
      </div>
      <div class="pb-2">
       <b> {{ form.orderQuantity.label_tag }}</b>
        {% render_field form.orderQuantity class="form-control" %}
      </div>
      </div>

      <div class="form-group-B mt-2">
        <b>{{ form.video.label_tag }}</b>
        {% render_field form.video class="form-control input-video" %}
      </div>

      {% comment %} FILE UPLOADS {% endcomment %}
      <div class="form-group-C mt-4"> 
        <h5><b>{{ form.file.label_tag }}</b></h5>
         <small>{% render_field form.file class="form-control" %}</small>
         <small>{{ form.fileLanguage.label_tag }}</small>
        {% render_field form.fileLanguage class="form-control"%}
      </div>

      <div class="form-group-D mt-4">
        <h5><b>{{ form.file2.label_tag }}</b></h5>
        <small> {% render_field form.file2 class="form-control"%}</small>
        <small> {{ form.file2Language.label_tag }}</small>
          {% render_field form.file2Language class="form-control" %}
      </div>

      <div class="form-group-E mt-4">
        <h5><b>{{ form.file3.label_tag }}</b></h5>
        <small> {% render_field form.file3 class="form-control" %}</small>
        <small>{{ form.file3Language.label_tag }}</small>
          {% render_field form.file3Language class="form-control"%}
      </div>

      <div class="form-group-F mt-4">
        <h5><b>{{ form.file4.label_tag }}</b></h5>
        <small>{% render_field form.file4 class="form-control" %}</small>
        <small>{{ form.file4Language.label_tag }}</small>
          {% render_field form.file4Language class="form-control"%}
      </div>

      <input type="submit" class="flex btn btn-success mt-4" value="Zapisz">
      <a href="{% url 'home' %}" class="btn btn-secondary mt-4 text-white">Wróć</a>
    </form> 
  </div>



<script type="text/javascript" src="{% static 'delete_fileLanguage.js' %}"></script>   

{% endblock %}

