@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* SETTINGS FOR FOOTER  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
}

.footerLeft {
    border-right: solid 1.5px whitesmoke;
}


html *
{
   font-family: 'Jost', sans-serif !important;
}

.clientNavbar {
    background-color: #e7eae7;
}
.logo {
    width: 70px;
}
.logoTextColor {
    color: #f26021;
}
.manualLogoClient {
    width:100px; 
    filter: invert(1);
}

.manualLogo {
    width:120px; 
}
.logoButton {
    border-radius: 15px;
    background-color: #f26021;
    border:0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.qr{
    width:180px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

thead {
    border-bottom-width: 2px;
}

a {
    color: #f26021;
    text-decoration: none;
}

a:hover {
    color:#f26021; 
    text-decoration:none; 
    cursor:pointer;  
}

@media screen and (max-width: 580px) {
    .hide_in_mobile {
      display: none;
    }
}
@media screen and (max-width: 400px){
    iframe {
        width: 100% !important;
    }
}

iframe {
    -moz-border-radius: 18px; 
    -webkit-border-radius: 18px; 
    border-radius: 18px;
    width: 100% !important; 
}

/* cancels styling for link at the ASSEMBLE QR logo */
.no-style {
    color: inherit;
    text-decoration: none;
    font-size:x-large;

}

@media (max-width:800px) {
    .no-style {
        color: inherit;
        text-decoration: none;
        font-size: smaller;
    }
}

.no-style:hover {
    color: inherit;
    text-decoration: none;
}

.detailTable { 
    max-width: 400px;
}

